/* styles/3-common.css */

*, *:before, *:after {
    box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	color: #484848;
	font-size: 14px;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
	min-height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}