.filters {
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	color: white;
	height: 70px;
	width: 100%;

	position: relative; /* To position btn absolute */
} 

.filters button {
	font-size: 18px;
	background-color: #FF5A5F;
	color: #FFFFFF;
	height: 48px;
	width: 20%;
	border: none;
	border-radius: 4px;

	position: absolute;
	transform: translateY(-50%); /* Center vertically */
	top: 50%;
	right: 30px; /* 30px of the right border */

	transition: opacity 0.3s;
	opacity: 1;
}

/* Change opacity to 90% on hover */
.filters button:hover {
    opacity: 0.9;
}